In [1]:
from cryptocmd import CmcScraper

# initialise scraper
scraper = CmcScraper('btc', '15-10-2018', '22-10-2018')

# You can pass name for the csv explicitly,
# Else it will be named in format {coin_code}_{start_date}_{end_date}.csv
scraper.export_csv("btc_oct_time.csv")

df = scraper.get_dataframe()
df

        Date     Open     High      Low    Close      Volume    Market Cap
0 2018-10-22  6486.05  6543.80  6462.98  6487.16  3672860000  112465213723
1 2018-10-21  6490.09  6556.38  6476.00  6482.35  3253610000  112369106369
2 2018-10-20  6460.92  6497.72  6449.00  6489.19  3379130000  112476559221
3 2018-10-19  6478.07  6493.68  6445.31  6465.41  3578870000  112052990522
4 2018-10-18  6542.33  6567.54  6450.04  6476.71  3924080000  112237252159
5 2018-10-17  6590.52  6601.21  6517.45  6544.43  4088420000  113399343801
6 2018-10-16  6601.41  6673.59  6571.37  6596.11  4074800000  114283707152
7 2018-10-15  6292.64  6965.06  6258.68  6596.54  7370770000  114280022340